
  <div class="calculator">
      <h1>Calculator</h1>
      <input type="text" class="display" disabled>
      <div class="keys">
          <div class="row">
              <div class="key">7</div>
              <div class="key">8</div>
              <div class="key">9</div>
              <div class="key">/</div>
          </div>
          <div class="row">
              <div class="key">4</div>
              <div class="key">5</div>
              <div class="key">6</div>
              <div class="key">*</div>
          </div>
          <div class="row">
              <div class="key">1</div>
              <div class="key">2</div>
              <div class="key">3</div>
              <div class="key">+</div>
          </div>
          <div class="row">
              <div class="key">0</div>
              <div class="key">.</div>
              <div class="key">-</div>
              <div class="key">=</div>
          </div>
          <div class="row">
              <div class="key clear" colspan="4">Clear</div>
          </div>
      </div>
  </div>

  <input type="button" (click)="fun1()" class="btn btn-success mx-3" value="Green">
  <input type="button" (click)="fun2()" class="btn btn-warning mx-3" value="Yellow">
  <input type="button" (click)="fun3()" class="btn btn-primary mx-3" value="Blue">
  <input type="button" (click)="fun4()" class="btn btn-secondary ms-3" value="Secondary">

  <div class="my-5">
    <ul>
      <li>Patient ID: {{patientId}}</li>
      <li>Patient Name: {{name}}</li>
      <li>Patient Gender: {{gender}}</li>
      <li>Patient Age: {{age}}</li>
      <li>Details: {{details}}</li>
    </ul>
  </div>

  <p>childValueUsingAfterViewInit: {{message}}</p>

  <h4>EmployeePayRoll:</h4>
  <table class="table" style="max-width:30%;">
    <thead>
        <tr>
           <th>Employee No</th>
           <th>Employee Name</th>
           <th>Employee DOB</th>
           <th>Employee Phone</th>
           <th>Employee Salary</th>
           <th>Employee City</th>
           <th>Employee Pincode</th>
           <th>Employee Street</th>
        </tr>
    </thead>
    <tbody>
  <tr *ngFor="let i of empDetails">
    <td>{{ i.empNo}}</td>
    <td>{{i.empName}}</td>
    <td>{{i.dob}}</td>
    <td>{{i.phone}}</td>
    <td>{{i.salary}}</td>
    <td>{{i.address.city}}</td>
    <td>{{i.address.pincode}}</td>
    <td>{{i.address.street}}</td>
  </tr>
</tbody>
  </table>
  
   
  <!-- child component selector -->
  <app-child [batchMembers]="aboutBatchMembers" [colorOfDiv]="parentBgColor" [university]="collage" (data)="captureChildMessage($event)"></app-child>
